{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": false,
  "tailwindFunctions": ["cn", "clsx", "cva"],
  "tailwindStylesheet": "./src/index.css",
  "quoteProps": "as-needed",
  "trailingComma": "es5"
}
